.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);    
}

.caixa1{
    background-color: rgb(223, 163, 163);

    grid-row: 1 / 2;
    grid-column: 1 / 5;
}
.caixa2{
    background-color: rgb(163, 223, 177);
    /*grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;*/
    grid-row: 2 / span 4;
    grid-column: 1 / span 4;
}
.caixa3{
    background-color: rgb(163, 189, 223);
    /*grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;*/
    grid-area: 2 / 3 / 4 / 5;
}