@charset "UTF-8";

/* todas as demais midias*/

/* Typical Device Breakpoints
pequenas telas: até 600px
celular: 600px até 768px
tablet: 768px até 992px
desktop: 992px até 1200px
grandes telas: 1200px pra cima

*/

@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }

    menu{
        display: block;
        text-align: center;
    }

    menu > ul > li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
}