@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: rgb(199, 199, 198);
}

header{
    background-color: gray;
}
header > h1{
    padding: 10px;
    text-align: center;
}

span#burguer{
    background-color: rgb(40, 40, 40);
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
#burguer:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

menu{
    display: none;
}
menu > ul{
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(90, 90, 90);
    color: rgb(255, 255, 255);
    text-align: center;
    border-top: 2px solid gray;
}
menu > ul > li > a:hover{
    background-color: rgb(159, 159, 159);
}

main{
    width: 90vw;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 20px;
}
article > p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}