*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
}
.caixa{
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#topo{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
#menu{
    grid-area: 2 / 1 / 3 / 3;
}
#conteudo{
    grid-area: 3 / 1 / 4 / 2;
}
#secundario{
    grid-area: 3 / 2 / 4 / 3;
}
#rodape{
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}
