@charset "UTF-8";

/* verção mobile first*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    width: 100vw;
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main{
    background-color: rgba(240, 248, 255, 0.775);
    width: 400px;
    margin: auto;
    margin-top: 20px ;
    border-radius: 10px;
    padding: 10px;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.778);
}

img{
    display: block;
    margin: auto;
}

img#celular {display: block;}
img#tablet {display: none;}
img#impressora {display: none;}
img#computador {display: none;}
img#tv {display: none;}